@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
$clr-primary: #e4e4e4;

$clr-secondary: #f6f6f6;

$clr-warning: rgb(204, 86, 86);
$clr-success: rgb(183, 245, 183);
$clr-body: #252525;
$clr-header: #24292f;

$clr-dark: #24292f;
$clr-card: rgb(50, 54, 57);
$clr-divider: rgb(82, 85, 87);
$clr-white: #fff;
$clr-headers: #f0e68c;

$ff-primary: "Palanquin", sans-serif;
$ff-secondary: "Roboto", sans-serif;

$fs-small: 0.75rem;
$fs-normal: 1rem;
$fs-medium: 1.12rem;
$fs-large: 1.25rem;
$fs-larger: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 3rem;
$fs-xxxl: 6rem;

$fw-normal: 400;
$fw-bold: 700;
$fw-bolder: 900;

$br-small: 0.2rem;
$br-normal: 0.3rem;
$br-large: 0.5rem;

$bx-shadow: 0 0 10px rgb(0 0 0 / 20%);

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    display: block;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    display: block;
  }
}
