@use "../../styles/mixin.scss" as mixin;
.wrapper {
  width: min(700px, 90%);
  background-color: mixin.$clr-secondary;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  h1 {
    font-size: mixin.$fs-larger;
    font-weight: mixin.$fw-bold;
  }
  form {
    display: grid;
    .exercises {
      display: flex;
      flex-direction: column;
    }
  }
}
