@use "../../styles/mixin.scss" as mixin;
.header {
  background-color: mixin.$clr-header;
  height: 5rem;
  width: 100%;
  top: 0;
  padding: 0 2rem;
  nav {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      gap: 5rem;
      li {
        text-decoration: 0;
        a {
          font-size: mixin.$fs-larger;
          color: white;
          text-decoration: 0;
        }
      }
    }
    .profile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 1rem;
      svg {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}
