@use "../../styles/mixin.scss" as mixin;
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: mixin.$fs-larger;
      font-weight: mixin.$fw-bold;
      color: mixin.$clr-headers;
    }
    h4 {
      font-size: mixin.$fs-large;
      font-weight: mixin.$fw-bold;
      color: mixin.$clr-white;
    }
  }
  textarea {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border-radius: mixin.$br-small;
  }
  button {
    border: 0;
    font-weight: mixin.$fw-bold;
    background-color: transparent;
    font-size: mixin.$fs-large;
    padding: 0.5rem 0;
    cursor: pointer;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .video {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .videoBtnWrapper {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 0.5rem;
    place-items: center;
    span {
      color: mixin.$clr-white;
      font-size: mixin.$fs-normal;
      font-weight: mixin.$fs-small;
    }
    svg {
      fill: mixin.$clr-primary;
    }
  }
}
.unchecked {
  fill: mixin.$clr-warning;
}
.checked {
  fill: mixin.$clr-success;
}
.init {
  fill: mixin.$clr-primary;
}
